<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">       
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <h1>Welcome to the movie recommender page by {{ name }}</h1>
  <img src="/static/noun-movie.png" width="250px" height="250px">
  <p>1. Select one of the 3 recommendation options (random, NMF, cosine similarity) and  </p>
  <p>2. List 3 movies and how much you liked them. 1 = not good to 5 = awesome </p>

  
  <form action="/recommender">
    <select name="algo">    
    <option value="Random">Random</option>    
    <option value="NMF">NMF</option>    
    <option value="Cosine similarity">Cosine similarity</option> 
    </select> 
    <br><br> 
    {% for indx in range(3) %}    
    <input type="text" name="title" placeholder="Enter movie name" required list="movie_lst">    
    <input type="number" name="Ratings" placeholder="1-5" min="1" max="5" required>    
    <br><br>    {% endfor %}           
    <button type="submit">Show Recommendations</button>
  </form>
  <datalist id="movie_lst">    
    {%for mov in movies%}    
    <option value="{{mov}}"></option>    
    {%endfor%}       
  </datalist>

</body>

</html>
